[submodule "submodules/cpp-utils"]
	path = submodules/cpp-utils
	url = https://github.com/rcb547/cpp-utils.git
[submodule "submodules/ticpp"]
	path = submodules/ticpp
	url = https://github.com/wxFormBuilder/ticpp.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "submodules/csv-parser"]

	path = submodules/csv-parser
	
	url = https://github.com/vincentlaucsb/csv-parser.git

[submodule "submodules/geophysics-netcdf"]

	path = submodules/geophysics-netcdf
	url = git@github.com:GeoscienceAustralia/geophysics-netcdf.git
[submodule "submodules/netcdf-cxx4"]
	path = submodules/netcdf-cxx4
	url = git@github.com:Unidata/netcdf-cxx4.git

